.side-bar
  .side-header
    .header-box
      .header-box__name
        = current_user.name
      .header-box__icon
        = link_to "#", class: "header-box__icon--btns" do
          %i.fa.fa-edit
        = link_to edit_user_path(current_user), class: "header-box__icon--btns" do
          %i.fa.fa-cog
  .side-groups
    .group
      .group__name
        techcamp
      .group__text
        まだメッセージはありません
    .group
      .group__name
        techcamp
      .group__text
        まだメッセージはありません
    .group
      .group__name
        techcamp
      .group__text
        まだメッセージはありません