.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  height: 100vh;
  .side-header {
    display: flex;
    height: 100px;
    background-color: #253141;
    .header-box {
      display: flex;
      justify-content: space-between;
      width: 260px;
      height: 24px;
      margin: auto;
      &__name {
        color: #ffffff;
        font-weight: bold;
      }
      &__icon {
        &--btns {
          display: inline-block;
          margin-left: 5px;
          color: #ffffff;
          font-size: 14px;
          text-decoration: none;
        }
      }
    }
  }
  .side-groups {
    height: calc(100% - 100px);
    padding: 20px 20px 0px; 
    background-color: #2f3e51;
    .group {
      height: 85px;
      color: #ffffff;
      .group-link {
        color: #ffffff;
        text-decoration: none;
        &__name {
          font-size: 15px;
        }
        &__text {
          margin-top: 5px;
          margin-bottom: 40px;
          font-size: 11px;
        }
      }
    }
  }
}



.chat-main {
  width: calc(100% - 300px);
  height: 100wh;
  .group-info {
    display: flex;
    justify-content: space-between;
    height: 100px;
    border-bottom: solid 1px #eee;
    background-color: #ffffff;
    &__left-item {
      &__group {
        padding-top: 35px;
        padding-left: 40px;
        color: #333333;
        font-size: 20px;
      }
      &__member {
        padding-top: 15px;
        padding-left: 40px;
        color: #999999;
        font-size: 12px;
      }
    }
    &__right-item {
      width: 112px;
      &__edit {
        width: 72px;
        height: 40px;
        margin-top: 30px;
        border: solid;
        border-width: thin;
        border-color: #38aef0;
        font-size: 16px;
        text-align: center;
        line-height: 40px;
        &__link {
          color: #38aef0;
          text-decoration: none;
        }
      }
    }
  }
  .message-list {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    .message-box {
      padding-top: 46px;
      padding-left: 40px;
      .message {
        margin-bottom: 40px;
        &__info {
          display: flex;
          margin-bottom: 10px;
          &__name {
            color: #333333;
            font-weight: bold;
            font-size: 16px;
          }
          &__date {
            padding-left: 10px;
            color: #999999;
            font-size: 12px;
          }
        }
        &__content {
          padding-bottom: 10px;
          color: #434A54;
          font-size: 14px;
        }
      }
    }
  }
  .message-form {
    height: 90px;
    padding: 20px 40px;
    background-color: #d2d2d2d2;
    .new-message {
      height: 50px;
      .form {
        display: flex;
        justify-content: space-between;
        height: 50px;
        .input-box {
          display: flex;
          position: relative;
          width: calc(100% - 115px);
          height: 100%;
          input.text {
            position: absolute;
            width: 100%;
            height: 100%;
            border: none;
          }
          .file {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 22.3px;
            cursor: pointer;
            input.image {
              display: none;
            }
            }
        }
        .submit-box {
          width: 100px;
          height: 100%;
          background-color: #38aef0;
          input.send {
            width: 100%;
            height: 100%;
            padding: 0 30px;
            background-color: #38aef0;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}